*.class

#IntelliJ
.idea
*.iml

#Maven
target/
corpus/
entities/
output/
output.zip

#Analysis
output-backup/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
